.dish_image {
    width: 100%;
}

#description {
    padding-left: 0;
}

.left {
    display: flex;
    align-items: center;
    justify-content: left;
}

.ingredients {
    background-color: LightGoldenrodYellow;
    outline: black
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}